body {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #000000;
}

h1 {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 42px;
	color: #000000;
}

h2 {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}